.textarea {
    display: block;
    width: 50%;
    margin: 30px auto;
    font-size: 26px;
}

.comments {
    color:rgb(76, 86, 100);
    text-align: end;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    padding: 5px 0;
    background: rgb(105, 137, 188);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.keyboard__keys {
    text-align: center;  
}

.keyboard__key {
    height: 45px;
    width: 6%;
    /* max-width: 60px; */
    margin: 3px;
    border: none;
    border-radius: 4px;
    background: rgb(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
}

.keyboard__key:hover {
    background: rgb(255, 255, 255, 0.12);
}

.keyboard__key_wide {
    width: 10%;
}

.keyboard__key_extra-wide {
    width: 40%;
    max-width: 500px;
}

.keyboard__key_activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(0, 0, 0, 0.2);
}

.keyboard__key_active::after {
    background: #75c47d;
}

.keyboard__key_dark {
    background: rgb(0, 0, 0, 0.25);
}

.keyboard__key_press {
    background-color: rgb(0, 0, 0, 0.25);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.keyboard__key_up {
    animation: keys_animation 0.6s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: rgb(0, 0, 0, 0.25);
        color: rgb(105, 137, 188);
    }
    100% {
        background-color: rgb(105, 137, 188);
        color: #000;
    }
}